<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Admin</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>

  <nav>
      <div class="logo-containter"><span    id="logo">Activity.</span></div>
      <ul>
        <li id="menu-item"><a class="txt-link" href="/admin">Home</a></li>
        <li><a class="txt-link" href="/users">Users</a></li>
        <li><a class="txt-link" href="/activities">Activities</a></li>
        <li><a class="txt-link" href="/admin/logout">Logout</a></li>
      </ul>
    </nav>

    <div class="choice-wrapper">  
      <div class="choice-container"><a class="txt-link" href="/users">View all Users </a></div>
      <div class="choice-container"><a class="txt-link" href="/activities">View all activities</a></div>
    </div>
    
  </body>
</html>