<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
</head>
<body>
  
 <!-- Navigation Menu -->
  <nav>
    <h2>Navigate</h2>
    <ul>
      <li><a href="home.ejs">Home</a></li>
      <li><a href="create.ejs">Create</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </nav>

  <!-- Title/Heading -->
  <h1>Plan an Activity!</h1>

  <input type="text" placeholder="Name of activity"> <br>
  <input type="text" placeholder="City"> <br>
  <input type="text" placeholder="State"> <br>
  <input type="date" placeholder="mm/dd/yyyy"> <br>
  <input type="time"> <br>
  <textarea rows="5" cols="30" placeholder="Description"></textarea> <br>

  <select>
    <option>Select Type</option>
    <option>Social</option>
    <option>Cooking</option>
    <option>Relaxation</option>
  </select> <br>

  <button id="submitBtn">Submit</button> <br>

</body>
</html>