<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
  <title>Create</title>
</head>
<body>
  
 <!-- Navigation Menu -->
  <nav>
    <h2>Navigate</h2>
    <ul>
      <li><a href="index.ejs">Home</a></li>
      <li><a href="create.ejs">Create</a></li>
      <li><a href="explore.ejs">Explore</a></li>
      <li><a href="profile.ejs">Profile</a></li>
    </ul>
  </nav>

  <!-- Title/Heading -->
  <h1>Choose this Random Activity!</h1>

  <form>
    <input type="text" placeholder="Name of activity"> <br>
    <input type="text" placeholder="City"> <br>
    <input type="text" placeholder="State"> <br>
    <input type="text" placeholder="mm/dd/yyyy"> <br>
    <input type="text" placeholder="Duration in minutes"> <br>
    <textarea rows="5" cols="30" placeholder="Description"></textarea> <br>

    <select>
      <option>Select Type</option>
      <option>Social</option>
      <option>Cooking</option>
      <option>Relaxation</option>
    </select> <br>
    
    <button id="submitBtn">Submit</button> <br>
  </form>

</body>
</html>