<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    
    <!-- Navigation Menu -->
    <nav>
      <h2 class="nav-mark1">Activity Planner</h2>
      <ul>
        <li id="menu-item"><a class="txt-link" href="/index">Home</a></li>
        <li><a class="txt-link" href="/create">Create</a></li>
        <li><a class="txt-link" href="/explore">Explore</a></li>
        <li><a class="txt-link" href="/profile">Profile</a></li>
      </ul>
    </nav>

    <!-- Title/Heading -->
    <header>
      <div class="header-container1">
        <h1>All of your activities that you created are listed here</h1>
      <div>
    </header>
    <h1>My Activities</h1>

    <!-- All playlists
      Create some for loop to load all playlists; 
    -->
    <figure id="loadList">
      <!-- Image
        holding a temp image for now
       -->
      <img src="https://www.tinypulse.com/hs-fs/hubfs/tiny-pulse-team-building-activities.jpg?width=1200&name=tiny-pulse-team-building-activities.jpg" width="100px" alt="Album picture">

      <!-- Playlist Name -->
      <figcaption>Some type of caption</figcaption>
    </figure>

    <div class="table-container">
      <button id="closeBtn">Close</button>
      <span id="table"></span>
    </div>
    
  </body>
</html>