<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bop Music</title>
</head>
<body>
    <h1>Login</h1>
    <!-- <form action="/login" method="POST"> -->

        Username:
        <input type="text" id="username"><br>
                         
        Password:
        <input type="password" id="password"><br>
    
        <button>Login</button>
    
        <h3 id="errorMessage"></h3>
    
    <!-- </form> -->

    <% if(typeof error != 'undefined'){%>
        <%= error %>
    <% } %>

     <script type="text/javascript" src="js/scripts.js"></script> -->
</body>
</html>