<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
  <title>Profile Page</title>
</head>
<body>
  
 <!-- Navigation Menu -->
  <nav>
    <h2>Navigate</h2>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/create">Create</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>

  <!-- Title/Heading -->
  <h1>Profile Page</h1>
  Username:
  <input type="text" placeholder="Username" id="user"> <br>
  Password:
  <input type="text" placeholder="Password" id="pass"> <br>
  Name:
  <input type="text" placeholder="Name" id="name"> <br><br>
<!-- 
  <select>
    <option>Select Type</option>
    <option>Social</option>
    <option>Cooking</option>
    <option>Relaxation</option>
  </select> <br> -->

  <button id="submitBtn">Submit</button> <br>

  <form action = "/logout">
     <div class="buttons">
      <button id="login">
        Log out
      </button>
     </div> 
    </form> <br><br>

</body>
</html>