<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <title>Sign Up</title>
</head>
<body>
    <h1 class="text-center">Sign Up</h1>

    <!-- <form method="POST" action="/signup"> -->
        <div class="text-center">
            <input type="text" id="name" placeholder="Name"> <br>
            <input type="text" id="username" placeholder="Username"> <br>
            <input type="password" id="password" placeholder="Password"> <br>
            <button id="signup">Sign Up</button>
        </div>

        <h3 id="errorMessage"></h3>
    <!-- </form> -->

    <% if(typeof error != 'undefined'){%>
        <%= error %>
    <% } %>
    

    <script type="text/javascript" src="js/signupCheck.js"></script> -->
</body>
</html>