<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="public/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <img src="https://www.transparentpng.com/thumb/music/musical-notes-png-clipart-pic-12.png" style="width:12em; height:13em;" id="image" />
    </div><br><br>
    <div class="buttons">
      <button id="login">
        Log in
      </button> <br><br>
      <button id="signup">
        Sign up
      </button>
    </div>
  </body>
</html>